#title {
  background-color:#4E9F3D;
  color: white;
}

h1 {
  font-family: 'Montserrat';
  font-size: 3.5rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 15% 7%;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding-left: 18px;
  padding-right: 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat';
}

.DOWNLOAD-button {
  margin: 5% 3% 5% 0;
}

.image-1 {

  /* Equal to rotateZ(45deg) */
  size: 0.6rem;
  width: 65%;
  position: absolute;
  right: 40px;
}

@media (max-width:1028px) {
  #title {
    text-align: center;
  }

  .image-1 {
    position: static;
    transform: rotate(0);
  }
}

h3 {
  font-family: 'Montserrat';
  font-size: 1.6rem;
  line-height: 1.5;
}

h2 {
  font-family: 'Montserrat';
  font-size: 3rem;
  line-height: 1.5;
}

#features {
  padding: 7% 15%;
  background-color: white;
  position: relative;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

p {
  color: #8f8f8f
}

.icon {
  color: #B3E283;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #4E9F3D;
}

#testimonials {
  color: white;
  text-align: center;
  background-color: #4E9F3D;
}

.testimonials-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

em {
  color: white;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #4E9F3D;
  text-align: center;
}

.press-fea {
  width: 50%;
  padding-bottom: 20px;
}

#pricing {
  margin-top: 40px;
  color: black;
  text-align: center;
}

#cta {
  background-color: #4E9F3D;
  color: white;
  text-align: center;
  padding: 7% 20% 8%;
  font-size: 39px;
}

.pricing-class {
  padding: 3% 2%;
}

#footer {
  padding: 7% 15%;
  text-align: center;

}

.space {
  margin:20px 10px;
  color: blue;
}
